/*@purpose : Set style,font and color for Registration page
@Description:Using the tag name set color font and border height of the page
@Author: Shraddha Dhatavkar
*/
//for header
// px means: 'px' is the quantity of length equal to the pixel in an unscaled HTML
/* Bordered form */
h1{
  color: palevioletred;

  text-align: center;
  font-style: oblique;
  font-family:  serif;
}
h2{
  color:rgb(0, 81, 255);
  text-align: center;
 
 }
/* Set a style for all buttons */
 /*button {
  text-align: center;
  background-color:rgba(5, 44, 172, 0.966);
  color: white;
  padding:2px 250px ;
  margin: 5px 0px;
  border: none;
  cursor: pointer;
  width: 20%;
  border-radius: 8px
}*/
/* Add a hover effect for buttons */
button:hover {
  opacity: 0.8;
}
/*Set style for page*/
.container
{
width: 500px;
height: 550px;
top:50%;
down:50%;
left:50%;
position: fixed;
margin-top:-275px;
margin-left:-250px;
border: 1px solid #ccc;
//padding: 50px 50px 50px 50px;
//background-color:skyblue;
border-radius: 35px;
box-shadow: 0px 0px 10px 0 rgba(0, 0, 0, 0.3);
background-color:ghostwhite;
}

/*set width */
.my-form{
min-width: 400px;
max-width: 500px;
width: 150%;
}
.full-width {
  width: 90%;
  margin-right: 40%;
  margin-left: 5%;
  }

button {
  background-color:steelblue;
  color: white;
  padding: -5px;
  margin: 4px 0;
  border: none;
  cursor: pointer;
  width: 30%;
  padding-bottom: 0px 0px;
  border-radius: 20px;
  text-align: center;
  //margin: 20px 100px 10px 75px;
  margin-bottom: -40px;
  font-size: 16px;
  //border-radius: 8px;
  //margin-bottom: -13px;
  width: 130px;
  height: 50px;
  margin-left: 90px;
  margin-top: 5px;
  //border-radius: 4px;
  }