
/*@purpose : Set style,font and color Login page
@Description:Using the tag name set color font and border height of the page
@Author: Shraddha Dhatavkar
*/
/*--For Desiging the form--*/

form {
border: 20px solid #ffffff;
border-radius: 15px;

}
/*--For header style--*/
h1 {
color:purple;
text-align: center;
text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
font-family:  serif;
font-style: oblique;
}

/*--For Input content which is filled by the user--*/
input {
width: 100%;
padding: 12px 20px;
margin: 1px 0;
display: inline-block;
border: 1px solid #ccc;
box-sizing: border-box;
border-radius: 8px
}
/*--For Desiging the button --*/

button {
background-color:steelblue;
color: white;
padding: -5px;
margin: 4px 0;
border: none;
cursor: pointer;
width: 30%;
padding-bottom: 0px 0px;
border-radius: 20px;
text-align: center;
//margin: 20px 100px 10px 75px;
margin-bottom: -40px;
font-size: 16px;
//border-radius: 8px;
//margin-bottom: -13px;
width: 130px;
height: 50px;
margin-left: 50px;
margin-top: 5px;
//border-radius: 4px;
}


/*--For mousehover operation--*/
button:hover {
opacity: 0.8;
}
/*--For container class design--*/
.container
{
width: 400px;
height: 400px;
padding: 15px;
top: 50%;
left:50%;
position:fixed;
margin-top:-200px;
margin-left:-250px;
border: 1px solid #ccc;
//padding: 50px 50px 50px 50px;
//background-color:skyblue;
border-radius: 2px;
//-moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
//-webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
box-shadow: 0px 0px 10px 0 rgba(0, 0, 0, 0.3);
border-radius: 35px;
background-color:ghostwhite;
}

.example-container {
display: flex;
flex-direction: column;
}

.example-container > * {
width: 100%;
}

.email {
border:none;
}

.button {
color: #ffffff
}
/* for image design*/
.profile-img
{
   width:   130px ;
   height: 96px;
   margin: 0 auto 10px;
   display: block;
   -moz-border-radius: 50%;
   -webkit-border-radius: 50%;
   border-radius: 50%;
   margin-bottom: 10px;
}
